.card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  flex-direction: row;
  border-radius: 20px;

  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }
}

.icon_class {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
  box-shadow: 11px 0px 18px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 0px 18px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 0px 18px -5px rgba(0, 0, 0, 0.75);

  @mixin dark {
    color: white;
  }
}

.description {
  flex: 1;
  padding-right: 1rem;
}
