.logo-yatindo {
  width: clamp(140px, 20vw, 120px);
  /* filter: drop-shadow(1px 5px 2px black); */
}

.divider-vertical {
  border-color: light-dark(black, var(--mantine-color-gray-7));
}

.title-app {
  /* color: black; */
  font-weight: bold;
  font-size: clamp(20px, 4vw, 28px);
}

.title-box {
  text-align: center;
  justify-content: center;
  align-items: center;
}