.card_table {
  user-select: initial !important;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  background-color: light-dark(white, var(--mantine-color-dark-6));
  transition: box-shadow 150ms ease;
  z-index: 10 !important;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
  }
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}

.column_pinned {
  right: 0 !important;
  position: sticky !important;
  background-color: light-dark(white, var(--mantine-color-dark-6)) !important;
}
.column_pinned_left_head {
  left: 0 !important;
  position: sticky !important;
  background-color: light-dark(white, var(--mantine-color-dark-6)) !important;
  z-index: 100;
}
.column_pinned_left_body {
  left: 0 !important;
  position: sticky !important;
  background-color: light-dark(white, var(--mantine-color-dark-6)) !important;
  z-index: 1;
}