.header-wrapper {
  color: var(--mantine-color-white);
  padding-inline: 3rem;
  background-color: #29166F;

  @mixin dark {
    background-color: #7f73a9;
  }
}

.header_inner {
  max-width: 70rem;
  margin-inline: auto;
}

.burger {
  margin-top: 10px;

  @media (min-width: $mantine-breakpoint-sm) {
    opacity: 0;;
  }
}

.label {
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    margin-top: 10px;
    box-shadow: 0 0 20px -10px black;
    padding-inline: 2rem;

    @mixin dark {
      background-color: var(--mantine-color-dark-9);
    }
}