.header-wrapper {
  color: var(--mantine-color-white);
  padding-inline: 3rem;
  /* background-color: var(--mantine-primary-color-9); */
  background-color: #29166F;
}

.header_inner {
  margin-top: 20px;
  justify-content: flex-end;

  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: space-between;
  }
}